# Importing Libraries

In [4]:
import sqlite3
import pandas as pd
import os

# Sqlite DB

In [9]:
csv_file_path = '/content/Test.csv'

df = pd.read_csv(csv_file_path)

conn = sqlite3.connect('your_database.db')

df.to_sql('test_data', conn, index=False, if_exists='replace')

output = 'Srinithi'

query = f"SELECT * FROM test_data where Name = '{output}'";
result = pd.read_sql_query(query, conn)
print(result)


#conn.close()

       Name  A/c Number Pan number  Balance  Debt
0  Srinithi   123456789   FMM45522   100000   500